@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --mango: #E89500;
  --fresa: #E53935;
  --mora: #7B1FA2;
  --kiwi: #558B2F;
  --banana: #F9A825;
  --naranja: #E65100;
  --uva: #4A148C;
  --sandia: #E91E63;
  --limon: #8BC34A;
  --coco: #5D4037;
}

body {
  @apply min-h-screen;
}
